<h1>NFL <span>DRUNK</span> Arrests<img src="http://www.bleachercreatures.com/media/catalog/category/5_NFL_BW.png" alt="" /></h1>
  <p><a class="btn btn-success btn-lg" href="/#/" role="button">NFL Crime</a></p>



  <ul ng-repeat='arrest in arrests'>
    <li><img ng-src="{{img}}" alt="" /></li>
    <li>Date: {{arrest.Date}}</li>
    <li>Team: {{arrest.Team}}</li>
    <li>Name: {{arrest.Name}}</li>
    <li>Encounter: {{arrest.Encounter}}</li>
    <li>Description: {{arrest.Description}}</li>
    <li>Outcome: {{arrest.Outcome}}</li>
  </ul>
