<div class="jumbotron">
    <h1>NFL Arrest Report</h1>
    <img src="http://nflarrest.com/sidebar.png" />
    <p>
      Choose one of the Following
    </p>
    <ul>
      <li>DUI</li>
      <li>Gun</li>
      <li>drug</li>
      <li>Sex</li>
      <li>Public intoxication</li>
      <li>Handicap parking</li>
      <li>Pimping</li>
    </ul>
    <input type="text" ng-model="crime" placeholder="Enter crime">
    <button class='btn btn-lg btn-success' ng-click="getArrestCtrl(crime)" name="button">Get Arrest Report</button>
  </div>
